@model WebApplication.Identity.IdentityUser
<form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @*@Model.Email*@!</a>
        </li>
        <li>
            <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
        </li>

        <li class="dropdown">
            <a class="dropdown-toggle"
               data-toggle="dropdown"
               href="#">

                <b class="caret"></b>
            </a>

            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li><a asp-area="admin" asp-controller="home" asp-action="Index" tabindex="-1">Dashboard</a></li>
                <li><a asp-area="" asp-controller="Profile" asp-action="Index" tabindex="-1">Profile</a></li>
                <li><a asp-area="" asp-controller="Manage" asp-action="Index" tabindex="-1">Manage</a></li>
                <li><a asp-area="" asp-controller="Help" asp-action="Index" tabindex="-1">Help</a></li>
                <li class="divider"></li>
                <li><a asp-area="" asp-controller="Account" asp-action="LogOff" tabindex="-1">Sign Out</a></li>
            </ul>   
        </li>

    </ul>
</form>  