

@section Breadcrumbs {
    <ol class="breadcrumb">
        <li>
            <a asp-controller="Dashboard" asp-action="Index">Home</a>
        </li>

        <li class="active">
            <a href="javascript:;">Home</a>
        </li>
    </ol>
}