
@{
    ViewData["Title"] = "Index";
}




<section id="market_list">
    <div class="container">
        <h3 class="section_title f-s-30 f-w-100 m-b-30" style="color: #2196F3">Stock market Companies</h3>

        <div class="row">

            <div class="col-md-6">
                <table class="table table-hover table-bordered">

                    <tbody>

                        <tr>
                            <td>Alphabet Inc</td>
                            <td>910.97998</td>
                        </tr>

                        <tr>
                            <td>Baker Hughes Incorporated</td>
                            <td>58.487</td>
                        </tr>

                        <tr>
                            <td>Bank of America Corporation</td>
                            <td>23.620001</td>
                        </tr>

                        <tr>
                            <td>CBOE Interest Rate</td>
                            <td>2.117</td>
                        </tr>

                        <tr>
                            <td>Calpine Corporation</td>
                            <td>14.92</td>
                        </tr>

                        <tr>
                            <td>Columbia Small Cap Value Fund I B</td>
                            <td>21.6</td>
                        </tr>

                        <tr>
                            <td>Dow Jones Industrial Average</td>
                            <td>21674.509766</td>
                        </tr>

                        <tr>
                            <td>Foot Locker, Inc.</td>
                            <td>34.380001</td>
                        </tr>

                        <tr>
                            <td>Ford Motor Company</td>
                            <td>10.56</td>
                        </tr>

                        <tr>
                            <td>General Electric Company</td>
                            <td>24.549999</td>
                        </tr>

                        <tr>
                            <td>Infosys Limited</td>
                            <td>14.79</td>
                        </tr>

                        <tr>
                            <td>JPMorgan Latin America I</td>
                            <td>15.83</td>
                        </tr>

                        <tr>
                            <td>NASDAQ Composite</td>
                            <td>6216.529785</td>
                        </tr>

                        <tr>
                            <td>Nikkei 225</td>
                            <td>20118.859375</td>
                        </tr>

                        <tr>
                            <td>ProFunds UltraSector Oil & Gas Investor</td>
                            <td>30.190001</td>
                        </tr>

                        <tr>
                            <td>ProFunds UltraSector Oil & Gas Svc</td>
                            <td>25.780001</td>
                        </tr>

                    </tbody>
                </table>

            </div>


            <div class="col-md-6">

                <table class="table table-hover table-bordered">

                    <tbody>
                       
    <tr><td>RUSSELL 2000 INDEX</td>
    <td>1357.790039</td></tr>

    <tr><td>Regal Entertainment Group</td>
    <td>15.12</td></tr>

    <tr><td>Reynolds American Inc.</td>
    <td>65.400002</td></tr>

    <tr><td>Ross Stores, Inc.</td>
    <td>59.02</td></tr>

    <tr><td>S&P 500</td>
    <td>2425.550049</td></tr>

    <tr><td>Sally Beauty Holdings, Inc.</td>
    <td>17.93</td></tr>

    <tr><td>Snap Inc.</td>
    <td>14.01</td></tr>

    <tr><td>T. Rowe Price Latin America</td>
    <td>18.709999</td></tr>

    <tr><td>The Estée Lauder Companies Inc.</td>
    <td>105.919998</td></tr>

    <tr><td>VOLATILITY S&P 500</td>
    <td>14.26</td></tr>

    <tr><td>Viacom, Inc.</td>
    <td>38.799999</td></tr>

    <tr><td>WisdomTree Middle East Dividend ETF</td>
    <td>17.4</td></tr>

    <tr><td>iShares Latin America 40 ETF</td>
    <td>33.869999</td></tr>

    <tr><td>iShares MSCI Chile Capped ETF</td>
    <td>46.209999</td></tr>

    <tr><td>iShares MSCI South Africa ETF</td>
    <td>60.880001</td></tr>

    <tr><td>iShares North American Tech-Software ETF</td>
    <td>101.199997</td></tr> 

                    </tbody>
                </table>

            </div>


        </div>
    </div>
</section>
