@using WebApplication.Infrastructure.ViewModels
@model UserChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<div class="panel">
    <header class="panel-heading" style="margin-bottom: 30px;">Change Password?</header>
    <div class="panel-body">
        <div class="clearfix"></div>
        <div class="col-md-12">
            <div class="m-0 p-t-30">
             <form asp-action="ChangePassword" class="form-horizontal bordered-group" role="form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <div class="form-group">
                        <label asp-for="Password" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="ConfirmPassword" type="password" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="submit" value="Change Password" class="btn btn-default" />
                        </div>
                    </div>

                </form>   

            </div>
        </div>
    </div>
</div>




@section Breadcrumbs {
    <ol class="breadcrumb">
        <li>
            <a asp-controller="Dashboard" asp-action="Index">Home</a>
        </li>
        <li>
            <a asp-controller="Users" asp-action="Index">Users</a>
        </li>
        <li class="active">
            <a href="javascript:;">Change Password</a>
        </li>
    </ol>
}