

<li><a asp-area="admin" asp-controller="home" asp-action="Index" ><i class=" fa fa-suitcase"></i>Dashboard</a></li>
                            @*<li><a asp-area="Profile" asp-controller="Profile" asp-action="Index" ><i class="fa fa-cog"></i>Profile</a></li>*@
                            <li><a asp-area="" asp-controller="Manage" asp-action="Index"><i class="fa fa-bell-o"></i> Manage</a></li>
                            @*<li><a asp-area="" asp-controller="Help" asp-action="Index"><i class="fa fa-key"></i>Help</a></li>*@
                            <li><a asp-area="" asp-controller="Account" asp-action="LogOff"><i class="fa fa-key"></i>Logout</a></li>