@using WebApplication.Infrastructure.ViewModels.ManageViewModels
@model IndexViewModel
<h2>Edit UserName Page </h2>
<form asp-controller="Manage" asp-action="EditCurrentCountry" method="post" class="form-horizontal" role="form">
    <div>
        <label asp-for="CurrentCountry"></label>
        <input asp-for="CurrentCountry" value="@Model.CurrentCountry"/>
    </div>
    <button type="submit">Update</button>
    <button type="submit" asp-action="CancelEdit">Cancel</button>
</form>