@using WebApplication.Infrastructure.ViewModels.ManageViewModels
@model SetPasswordViewModel
@{
    ViewData["Title"] = "Set Password";
}





<form asp-controller="Manage" asp-action="SetPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <fieldset>

        <h3><i class="fa fa-square"></i> Set Your Password</h3>
        <div asp-validation-summary="All" class="text-danger"></div>


        <div class="form-group">
            <label asp-for="NewPassword" class="col-sm-3 control-label ">New Password</label>
            <div class="col-sm-4">
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="col-sm-3 control-label">Confirm Password</label>
            <div class="col-sm-4">
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3"></label>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary" value="Set Password">Set password</button>
            </div>
        </div>
    </fieldset>
</form>
@*<p class="text-info">
        You do not have a local username/password for this site. Add a local
        account so you can log in without an external login.
    </p>*@

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
